<% const URL_SUMMARY = /^https?:\/\/(?:www.)?([^\/]+)(.*)/; const summarizeUrl =
(url) => { const matchResult = url.match(URL_SUMMARY); return matchResult ?
matchResult[1] : url; }; %>

<div class="section-people">
  <ul class="people">
    <% people.people.forEach(person => { %><li>
      <div class="name"><%= person.name %></div>
      <div class="title"><%= person.personTitle %></div>
      <div class="link">
        <a href="<%- person.url %>" target="_blank" rel="noopener noreferrer"
          ><%= summarizeUrl(person.url) %></a
        >
      </div>
    </li><% }) %>
  </ul>
</div>
