<%- include('/nav', { collectionName, extraNavLinks }) %>

<main>
  <% collections[collectionName].filter((section)=>
  !section.data.hidden).forEach((section)=> { %>
  <section id="<%- section.data.anchor %>" class="<%- section.fileSlug %>">
    <%- section.templateContent %>
  </section>
  <% }) %>
</main>
