@import '../variables/typography.less';
@import '../variables/sizing.less';
@import '../variables/color.less';
@import '../variables/buttons.less';

@nav-height: @grid * 3;

.welcome {
  .site-title {
    text-align: center;
  }

  .headings {
    margin: (@grid * 2) 0;
  }

  .greeting,
  .site-title {
    font-family: @font-family-sans;
    font-weight: @font-weight-bold;
    font-size: @font-size-larger;
  }

  .greeting {
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      height: @grid * 10;
      width: @grid * 10;
      margin-right: @grid;
      background: url('/assets/images/logo.png') no-repeat center;
      background-size: contain;
      vertical-align: middle;
    }
  }

  #concept {
    @color: @font-color-base;
    border-bottom: 1px dashed @color;
    font-style: normal;
    cursor: help;
    font-size: @font-size-larger;
  }

  a.download-button {
    .buttonStyledLink(@accent-color-jade);
  }

  ul li {
    list-style: none;
    .font-size-large();
  }

  img {
    max-width: 70vw;
    display: block;
    margin: 0 auto;
  }
}
